body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  /* background-image: radial-gradient(circle, red, green, blue); */
  background-color: cyan;
}

ul,
li {
  padding-left: 30px;
  list-style-type: disc;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game-board {
  margin-top: 100px;
  width: 465px;
  height: 465px;
  background-color: #ff4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.square {
  background-color: #000033;
  border: 6px solid #ffffb3;
  float: left;
  font-size: 140px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:hover {
  cursor: pointer;
  background-color: #00004d;
}

.square:active {
  background-color: #00041a;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 130px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-info {
  margin-left: 20px;
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

.main-button {
  background-color: red;
  background-attachment: fixed;
  color: white;
  width: 120px;
  font-size: 17px;
  margin-left: 20px;
  font-weight: bold;
  font-style: italic;
}

.list-buttons {
  width: 100px;
  font-size: 15px;
  margin-right: 90px;
  margin-left: 2px;
  font-weight: bold;
}

.list-buttons:hover {
  cursor: pointer;
  font-size: 17px;
}

.main-button:hover {
  cursor: pointer;
  font-size: 18px;
}

.game-status {
  width: 250px;
  height: 140px;
  border-radius: 50px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-going-on {
  background-color: white;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
  width: 250px;
  text-align: center;
  text-shadow: #555;
  font-size: 35px;
}

.game-over {
  width: 250px;
  height: 250px;
  border-radius: 50px;
  background-image: radial-gradient(purple, red, blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over-msg {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
  text-shadow: red;
}
